<h1 class='event_header'>2018 시립대 축제 주점위치</h1>
<img class='booth_img' src="<%= asset_path 'booth_img.png' %>"></img>

<div class="list">
    <ol>
        <li>환경공학과</li>
        <li>화학공학과</li>
        <li>조경학과</li>
        <li>도시공학과</li>
        <li>통계학과</li>
        <li>물리학과</li>
        <li>환경원예학과</li>
         </ol> <ol start="8"><li>수학과</li>
        <li>생명공학과</li>
        <li>토목공학과</li>
      <li>자유융합대학</li>
        <li>기계공학과</li>
        <li>신소재공학과</li>
        <li>경영학과</li>
        <li>행정학과</li>
         </ol> <ol start="16"><li>국어국문학과</li>
       <li>철학과</li>
        <li>중어중문학과</li>
        <li>국사학과</li>
        <li>영어영문학과</li>
        <li>컴퓨터과학과</li>
        <li>도시행정학과</li>
        
    </ol>
</div>
<div class="col2"></div>
           
        
<footer class='event_footer'>
  <hr>
  <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
  <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
  문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
  위의 모든 내용은 서울시립대학교 총학생회 페이스북에서 참고하였습니다.<br>
  실시간으로 변동 되는 사항에 대해서는 바로 반영되지 않을 수 있기 때문에<br>
  정확한 정보를 얻고 싶으시다면 아래 링크를 클릭하세요.<br>
  <a href='https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/' target="_blank"><span class='event_footer_link'>(출처: https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/)<span></a>
  
</footer>

  <div class="nevi">
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
    <a href = "/festival/foodtruck"><div class="nev_block nimg6">
    </div></a>
    
  </div>

 <!--스크립트 태그-->
   <script>
    $(document).ready(function(){
        $(".nimg1, .nimg2, .nimg3, .nimg4, .nimg5, nimg6").click(function(){
          $(this).animate({
            opacity: '1.0',
            height: '150px',
            width: '150px'
          });
        });
        
    })
    </script>