<h1 class='event_header'>2018 시립대 축제 주점위치</h1>
<img class='booth_img' src="<%= asset_path 'booth_img.png' %>"></img>

<div class="list">
    <ol>
        <li>환경공학과</li>
        <li>화학공학과</li>
        <li>조경학과</li>
        <li>도시공학과</li>
        <li>통계학과</li>
        <li>물리학과</li>
        <li>환경원예학과</li>
         </ol> <ol start="8"><li>수학과</li>
        <li>생명공학과</li>
        <li>토목공학과</li>
      <li>자유융합대학</li>
        <li>기계공학과</li>
        <li>신소재공학과</li>
        <li>경영학과</li>
        <li>행정학과</li>
         </ol> <ol start="16"><li>국어국문학과</li>
       <li>철학과</li>
        <li>중어중문학과</li>
        <li>국사학과</li>
        <li>영어영문학과</li>
        <li>컴퓨터과학과</li>
        <li>도시행정학과</li>
        
    </ol>
</div>
<div class="col2"></div>
           
        
<footer class='event_footer'>
  <hr>
  <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
  <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
  문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
  위의 모든 내용은 서울시립대학교 총학생회 페이스북에서 참고하였습니다.<br>
  <span style='font-size:20px'>(출처: https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/)<span><br>
  
</footer>

  <div class="nevi">
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
  </div>
