<!DOCTYPE html>
<html>
  <body>
    <br><br>
    <h1 class='dev_header'>2018 시립대 축제 사이트 개발자</h1>
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src='heejae.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>수학과 최희재</h2>
          <h2 class='dev_person_info'>기획 및 총괄</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기 대표<br></span>
          <span class='dev_person_content'>E-mail: gmlwo530@gmail.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src= 'beomwoo.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>전자전기컴퓨터공학부 문범우</h2>
          <h2 class='dev_person_info'>기획 및 총괄</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기 운영진<br></span>
          <span class='dev_person_content'>E-mail: doorbw@outlook.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src='sol.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>영어영문학과 강솔</h2>
          <h2 class='dev_person_info'>백엔드 및 라인업 view</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기<br></span>
          <span class='dev_person_content'>E-mail: kan3665@naver.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src='sangwon.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>경영학부 차상원</h2>
          <h2 class='dev_person_info'>프론트엔드 및 축제 메인 view</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기<br></span>
          <span class='dev_person_content'>E-mail: cha4845@naver.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src='minjeong.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>수학과 신민정</h2>
          <h2 class='dev_person_info'>프론트엔드 및 전체 부스 view</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기<br></span>
          <span class='dev_person_content'>E-mail: luludong98@naver.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src='minseung.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>컴퓨터과학부 박민승</h2>
          <h2 class='dev_person_info'>프론트엔드 및 입장 view</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기<br></span>
          <span class='dev_person_content'>E-mail: alstmdsha@gmail.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    <!--item start-->
      <div class='dev_person'>
        <div class='dev_person_head'>
        <img src='gunju.jpeg' class='dev_person_img'></img>

        <div style='padding-left:10px'>
          <h2 class='dev_person_name'>전자전기컴퓨터공학부 박건주</h2>
          <h2 class='dev_person_info'>백엔드 및 전체 일정 view</h2>
          <span class='dev_person_content'>멋쟁이사자처럼 6기<br></span>
          <span class='dev_person_content'>E-mail: uio88890@gmail.com</span>
        </div>
      </div>
    </div>
    <!--item end-->
    
    <!--item start-->
      <div class='dev_person'>
      <hr><hr>
      <p class='dev_person_content_another'>
        해당 사이트에 대한 모든 문의는<br>
        시립대 멋사 6기 대표 최희재 및<br>
        사이트 기획 및 총괄 담당, 멋사 6기 운영진 문범우에게<br>
        연락주시기 바랍니다.<br>
      </p>
      <hr><hr>
    </div>
    <!--item end-->
    <footer class='event_footer'>
      <hr>
      <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
      <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
      문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
    </footer>
  </body>
</html>

<!-- 네비 bar -->
  <div class="nevi">
    
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
  </div>
