<h1>이벤트 페이지입니다</h1>
<br>
<img src="/assets/event"></img>
<a href='/'>돌아가기</a>

<!-- 네비 bar -->
  <div class="nevi">
    
    <a href = "/"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
  </div>