
<div class='food_body'>
    <div class="full_wrap">
        <header>
     <h1 class='food_header'>2018 시립대 축제 푸드트럭</h1>
    </div></header>
        <main class='food_main'>
        <div class="food_touch">👆touch food truck</div>
        <div class="food_afood1">
            <div class="food_food1"><span class="food_name"> 떡볶이먹고가</span></div>
            <div class="food_fva1">떡볶이먹고가: (15~18일) ₩2000~₩7000<br>
                떡볶이, 만두, 튀김
            </div>
        </div>
        <div class="food_afood2">
            <div class="food_food2"><span class="food_name">SHU</span></div>
            <div class="food_fva2">SHU: (15~18일) ₩9500~₩10000<br>
                무뼈닭발, 큐브스테이크
            </div>
        </div>
        <div class="food_afood3">
            <div class="food_food3"><span class="food_name">베테랑</span></div>
            <div class="food_fva3">베테랑: (15~18일)<br>
                불초밥
            </div>
        </div>
        <div class="food_afood4">
            <div class="food_food4"><span class="food_name">승팡타코야끼</span></div>
            <div class="food_fva4">승팡타코야끼: (15~18일) ₩3000~₩5000<br>
                타코야끼
            </div>
        </div>    
        <div class="food_afood5">
            <div class="food_food5"><span class="food_name">츄앤추3호</span></div>
            <div class="food_fva5">츄앤추: (15~18일) ₩800~₩8000<br>
                츄러스, 주스 등   
            </div>
        </div>
        <div class="food_afood6">
            <div class="food_food6"><span class="food_name">키다리푸드트럭</span></div>
            <div class="food_fva6">키다리푸드트럭: (15~18일) ₩800~₩8000<br>
                삼겹살꼬치, 스팸튀김, 베이컨주먹밥, 세트메뉴 등
            </div>
        </div>
        <div class="food_afood7">
            <div class="food_food7"><span class="food_name">라오푸드트럭</span></div>
            <div class="food_fva7 ment">라오푸드트럭: (15일~18일) ₩3000~₩9000<br>              
            <span class="fva7_1">바나나팬케잌, 라오스볶음밥, 라오그린커리, 라오쉐이크 등
            </span></div>
        </div>
        <div class="food_afood8">
            <div class="food_food8"><span class="food_name">누 들 누 들</span></div>
            <div class="food_fva8">누들누들: (18일 오후) ₩800~₩8000<br>
            <span class="food_fva8_1">여왕오징어튀김, 순쌀떡볶이, 콘누드소세지, 대왕닭꼬치 등
           </span></div>
        </div>
        <br><br><br>
        <hr class="food_information" size= 5px color=yellow>
        <div class="food_inform"><span class="food_loca">
            운영장소 : 학생회관 과 대강당 사잇길</span><br>
            <span class="food_date">1일차(15일)-오후12시~오후9시30분<br>
            2일차(16일)-오후12시~오후10시<br>
            3일차(17일)-오후12시-오후10시30분<br>
            4일차(18일)-오후12시~오후10시<br></span></div>
        <footer class='event_footer'>
          <hr>
          <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
          <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
          문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
          위의 모든 내용은 서울시립대학교 총학생회 페이스북에서 참고하였습니다.<br>
          실시간으로 변동 되는 사항에 대해서는 바로 반영되지 않을 수 있기 때문에<br>
          정확한 정보를 얻고 싶으시다면 아래 링크를 클릭하세요.<br>
          <a href='https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/' target="_blank"><span class='event_footer_link'>(출처: https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/)<span></a>
          
        </footer>
    </main>

</div>

<!--네비 BAAAAAAR-->
  <div class="nevi">
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
    <a href = "/festival/foodtruck"><div class="nev_block nimg6">
    </div></a>
  </div>

<script>
$(document).ready(function(){
  $(".food_food1").click(function(){
            
            $(".food_food1").animate({
                'right':'100%'
            });
        });
        $(".food_fva1").click(function(){
            
            $(".food_food1").animate({
                'right':'1%'
            });
        });
        $(".food_food2").click(function(){
            
            $(".food_food2").animate({
                'right':'100%'
            });
        });
        $(".food_fva2").click(function(){
            
            $(".food_food2").animate({
                'right':'1%'
            });
        });
        $(".food_food3").click(function(){
            
            $(".food_food3").animate({
                'right':'100%'
            });
        });
        $(".food_fva3").click(function(){
            
            $(".food_food3").animate({
                'right':'1%'
            });
        });
        $(".food_food4").click(function(){
            
            $(".food_food4").animate({
                'right':'100%'
            });
        });
        $(".food_fva4").click(function(){
            
            $(".food_food4").animate({
                'right':'1%'
            });
        });
        $(".food_food5").click(function(){
            
            $(".food_food5").animate({
                'right':'100%'
            });
        });
        $(".food_fva5").click(function(){
            
            $(".food_food5").animate({
                'right':'1%'
            });
        });
        $(".food_food6").click(function(){
            
            $(".food_food6").animate({
                'right':'100%'
            });
        });
        $(".food_fva6").click(function(){
            
            $(".food_food6").animate({
                'right':'1%'
            });
        });
        $(".food_food7").click(function(){
            
            $(".food_food7").animate({
                'right':'100%'
            });
        });
        $(".food_fva7").click(function(){
            
            $(".food_food7").animate({
                'right':'1%'
            });
        });
        $(".food_food8").click(function(){
            
            $(".food_food8").animate({
                'right':'100%'
            });
        });
        $(".food_fva8").click(function(){
            
            $(".food_food8").animate({
                'right':'1%'
            });
        });
        
        $(".nimg1, .nimg2, .nimg3, .nimg4, .nimg5, nimg6").click(function(){
          $(this).animate({
            opacity: '1.0',
            height: '150px',
            width: '150px'
          });
        });
        
    })
</script>