<!DOCTYPE html>
<html>
    <body>
        <a href="/festival">
            <div class="festival_main_logo">
                <div class="festival_main_logo_left">
                    <img src="<%= asset_path 'festival_enter_logo.gif' %>" width= "auto" height="1400px" alt="">
                </div> 
            </div>
        </a>
    </body>
</html>