<h1>실서버 세팅 완료!!!! 화이팅 여러분</h1>
<h2>메인페이지 입니다.</h2>
<a href='/festival'>리얼메인</a>
<a href='/festival/schedule'>일정</a>
<a href='/festival/booth'>부스</a>
<a href='/festival/lineup'>라인업</a>
<a href='/festival/event'>이벤트</a>