<!DOCTYPE html>
<html>
    <body>
        <a href="/festival"><div class="full_wrap">
            <div class="festival_main_logo">
                <div class="festival_main_logo_left">
                    <img src="<%= asset_path 'festival_enter_logo.gif' %>" width= "100%" height="1700px" alt="">
                </div> 
             </div>
             </a>
    </body>
</html>