<div class="lineup_wrap">
    <header>
        <div class="lineup_header clearfix">
            <!--<p class="lineup_100th">100th to the FUTURE</p>-->
            <img class = "lineup_logo_img"src="/assets/logo"></img>
            <div class="lineup_uos">2018 UOS FESTIVAL LINEUP</div>
        </div>
        
    </header>
    
    <main>
        <div class="lineup_main">
            
            <div class="lineup_first_day">
                <p class="day">5.15(thu)</p>
                <div class="lineup_singer">
                    <p class="singer">미교 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">10cm <span class="lineup_time">  8:00</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
            
            <div class="lineup_second_day">
                <p class="day">5.17(thi)</p>
                <div class="lineup_singer">
                    <p class="singer">팔로알토 / 레디 / 허클베리피 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">오마이걸 <span class="lineup_time">  7:30</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
            <div class="lineup_third_day">
                <p class="day">5.18(fri)</p>
                <div class="lineup_singer">
                    <p class="singer">소야 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">거민 X 희도 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">비스메이저<span class="lineup_time">  7:30</span></p>
                    <p class="singer">헤이즈<span class="lineup_time">  7:30</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
                
            
            <div>
                <p class="lineup_place">장소 : 대강당 앞 무대</p>
            </div>
        </div>
        
    </main>
    
    <footer>
        <a class="lineup_back" href='/'>돌아가기</a>
    </footer>
    

</div>