<div class="lineup_wrap">
    <header>
        <div class="lineup_header clearfix">
            <!--<p class="lineup_100th">100th to the FUTURE</p>-->
            <img class = "lineup_logo_img"src="/assets/logo"></img>
            <div class="lineup_uos"><span class='lineup_uos_font'>2018 시립대 축제 라인업</span></div>
        </div>
        
    </header>
    
    <main>
        <div class="lineup_main">
            
            <div class="lineup_first_day">
                <p class="day">5.15(thu)</p>
                <div class="lineup_singer">
                    <p class="singer">미교 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">10cm <span class="lineup_time">  8:00</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
            
            <div class="lineup_back">
                <div class="lineup_second_day">
                <p class="day">5.17(thi)</p>
                <div class="lineup_singer">
                    <p class="singer">팔로알토 / 레디 / 허클베리피 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">오마이걸 <span class="lineup_time">  7:30</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
            <div class="lineup_third_day">
                <p class="day">5.18(fri)</p>
                <div class="lineup_singer">
                    <p class="singer">소야 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">거민 X 희도 <span class="lineup_time">  7:30</span></p>
                    <p class="singer">비스메이저<span class="lineup_time">  7:30</span></p>
                    <p class="singer">헤이즈<span class="lineup_time">  7:30</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
                
            
            <div>
                <p class="lineup_place">장소 : 대강당 앞 무대</p>
            </div>
            </div>
            
        </div>
        
    </main>
    
    

  <div class="nevi">
    <a href = "/"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
  </div>
</div>
