<div class="lineup_wrap">
    <header>
        <div class="lineup_header clearfix">
            <!--<p class="lineup_100th">100th to the FUTURE</p>-->
            <img class = "lineup_logo_img"src="<%= asset_path 'logo.png' %>"></img>
            <div class="lineup_uos"><span class='lineup_uos_font'>2018 시립대 축제 라인업</span></div>
        </div>
        
    </header>
    
    <main>
        <div class="lineup_main">
            
            <div class="lineup_first_day">
                <p class="day">5.15(TUE)</p>
                <div class="lineup_singer">
                    <p class="singer">미교<span class="lineup_time">  19:30</span></p>
                    <!--<p class="singer">미교<a href="#open">여기</a> <span class="lineup_time">  19:30</span></p>-->
                        <!--<div class="white_content" id="open">-->
                        <!--    <div>-->
                        <!--        <img src="/assets/미교"></img><a href="#close">닫기</a></p>-->
                        <!--    </div>-->
                        <!--</div>-->
                    
                    <p class="singer">10cm <span class="lineup_time">  20:00</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
            
            <div class="lineup_back">
                <div class="lineup_second_day">
                <p class="day">5.17(THU)</p>
                <div class="lineup_singer">
                    <p class="singer">팔로알토 / 레디 / 허클베리피 <span class="lineup_time">  21:00</span></p>
                    <p class="singer">오마이걸 <span class="lineup_time">  22:00</span></p>
                    <p class="singer">박명수 <span class="lineup_time">   22:00</p></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
            <div class="lineup_third_day">
                <p class="day">5.18(FRI)</p>
                <div class="lineup_singer">
                    <p class="singer">소야 / 건민 X 희도<span class="lineup_time">  20:30</span></p>
                    <p class="singer">딥플로우 / 던밀스 / 넉살<span class="lineup_time">  21:00</span></p>
                    <p class="singer">헤이즈<span class="lineup_time">  22:00</span></p>
                </div>
                <hr class="lineup_line"><br>
            </div>
                
            
            <div>
                <p class="lineup_place">장소 : 대강당 앞 무대</p>
            </div>
            </div>
            
        </div>
        
        <footer class='event_footer'>
          <hr>
          <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
          <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
          문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
          위의 모든 내용은 서울시립대학교 총학생회 페이스북에서 참고하였습니다.<br>
          실시간으로 변동 되는 사항에 대해서는 바로 반영되지 않을 수 있기 때문에<br>
          정확한 정보를 얻고 싶으시다면 아래 링크를 클릭하세요.<br>
          <a href='https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/' target="_blank"><span class='event_footer_link'>(출처: https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/)<span></a>
          
        </footer>
        
    </main>
    
    

  <div class="nevi">
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
    <a href = "/festival/foodtruck"><div class="nev_block nimg6">
    </div></a>
    
  </div>
</div>


<!-------------------------------------------------------- 모달창 ------------------------------------------->
