<h1 style = "font-size:80px;color:yellow; text-align: center; padding: 10px 20px; margin-top:0px; font-family:'drfont_daraehand'">2018 시립대 축제 일정</h1>    

<div class="sche_main">

    <div class="sche_day">
        <div class="sche_day_title">
            5.15 화
        </div>
        <div class="sche_box">
        <div class="sche_ball">
        <span style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_stud.png');" class="sche_content_box">
            <div class="sche_time"> 16:00 ~ 19:00 </div>
            <hr style="width: 250px">
            <div class="sche_content"> 전체 학생 총회 </div>
        </span>
        </div>
        <div class="sche_ball">
        <span style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_first.png');" class="sche_content_box">
            <div class="sche_time"> 19:30 ~ 20:30 </div>
            <hr style="width: 250px">
            <div class="sche_content"> 연예인 공연 </div>
        </span>
        </div>
        </div>
    </div>
    <br><hr><br>
    <div class="sche_day">
        <div class="sche_day_title">
            5.16 수
        </div>
        <div class="sche_box">
        <div class="sche_ball">
         <span style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_rock.png');" class="sche_content_box">
            <div class="sche_time"> 16:30 ~ 20:30 </div>
            <hr style="width: 250px">
            <div class="sche_content">배봉 락 <br> 페스티벌 </div>
        </span>
        </div>
        <div class="sche_ball">
         <span style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_movie.png');" class="sche_content_box">
            <div class="sche_time"> 20:30 ~ 22:30</div>
            <hr style="width: 250px">
            <div class="sche_content"> 한돈과 함께하는 <br> 백 투더 무비<br> </div>
        </span>
        </div>
        </div>
                
    </div>
    <br><hr><br>
    <div class="sche_day">
        <div class="sche_day_title">
            5.17 목
        </div>
        <div class="sche_box">
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_vs.png');"class="sche_content_box4">
            <div class="sche_time4"> 14:30 ~ 16:00 </div>
            <hr style="width: 200px">
            <div class="sche_content">시대 1 vs 100  </div>
        </div>
        </div>
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_con.png');"class="sche_content_box4">
            <div class="sche_time4"> 17:00 ~ 21:00</div>
            <hr style="width: 200px">
            <div class="sche_content">중앙동아리 공연 </div>
        </div>
        </div>
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_second.png');"class="sche_content_box4">
            <div class="sche_time4"> 21:00 ~ 22:00 </div>
            <hr style="width: 200px">
            <div class="sche_content"> 연예인 공연 </div>
        </div>
        </div>
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_park.png');"class="sche_content_box4">
            <div class="sche_time4"> 22:00 ~ 23:00 </div>
            <hr style="width: 200px">
            <div class="sche_content">EDM 페스티벌 </div>
        </div>
        </div>
        </div>
    </div>
    <br><hr><br>
    <div class="sche_day">
        <div class="sche_day_title">
            5.18 금
        </div>
        <div class="sche_box">
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_back.png');"class="sche_content_box">
            <div class="sche_time"> 14:30 ~ 16:00 </div>
            <hr style="width: 250px">
            <div class="sche_content"> 백 투더 스테이지<br> 본선 </div>
        </div>
        </div>
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_con.png');"class="sche_content_box">
            <div class="sche_time"> 17:00 ~ 20:30</div>
            <hr style="width: 250px">
            <div class="sche_content">중앙동아리 <br> 공연 </div>
        </div>
        </div>
        <div class="sche_ball">
        <div style="background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(80, 80, 80, 0.5)),
                    url('/sche_third.png');"class="sche_content_box">
            <div class="sche_time"> 20:30 ~ 21:30</div>
            <hr style="width: 250px">
            <div class="sche_content">연예인 공연 </div>
        </div>
        </div>
        </div>
    </div>
</div>
<footer class='event_footer'>
  <hr>
  <img src='<%= asset_path 'UOS_LIKELION_ye.png' %> ' class='uos_likelion_logo'></img>
  <br>페이지 제작: 서울시립대학교 멋쟁이사자처럼<br>
  문범우, 강솔, 박건주, 박민승, 신민정, 차상원, 최희재<br>
  위의 모든 내용은 서울시립대학교 총학생회 페이스북에서 참고하였습니다.<br>
  실시간으로 변동 되는 사항에 대해서는 바로 반영되지 않을 수 있기 때문에<br>
  정확한 정보를 얻고 싶으시다면 아래 링크를 클릭하세요.<br>
  <a href='https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/' target="_blank"><span class='event_footer_link'>(출처: https://www.facebook.com/2018-서울시립대학교-축제-100th-to-the-Future-607287032763488/)<span></a>
  
</footer>


<!--네비 BAAAAAAR-->
  <div class="nevi">
    <a href = "/festival"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
    <a href = "/festival/foodtruck"><div class="nev_block nimg6">
    </div></a>
  </div>
 <!--스크립트 태그-->
   <script>
    $(document).ready(function(){
        $(".nimg1, .nimg2, .nimg3, .nimg4, .nimg5, nimg6").click(function(){
          $(this).animate({
            opacity: '1.0',
            height: '150px',
            width: '150px'
          });
        });
        
    })
    </script>