<h1>스케줄페이지입니다</h1>
<br>
<img style = "position:relative; width: 100%; height: auto;" src="/assets/schedule"></img>

<a href='/'>돌아가기</a>

<div class="main">
    <div class="day">
        <div class="day_title">
            5.15 화
        </div>
        <div class="content_box">
            <div class="time"> 16:00 ~ 19:00 </div>
            <div class="content"> 전체 학생 총회 </div>
        </div>
        <div class="content_box">
            <div class="time"> 19:30 ~ 20:30 </div>
            <div class="content"> 연예인 공연 </div>
        </div>

    </div>
    <hr>
    <div class="day">
        <div class="day_title">
            5.16 수
        </div>
        <div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div>
        <div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div>
                
    </div>
    <hr>
    <div class="day">
        <div class="day_title">
            
        </div>
        <div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div>
        <div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div>
        <div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div><div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div>
    </div>
    <hr>
    <div class="day">
        <div class="day_title">
            
        </div>
        <div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div><div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div><div class="content_box">
            <div class="time"> </div>
            <div class="content"></div>
        </div>
    </div>
</div>



<!--네비 BAAAAAAR-->
  <div class="nevi">
    <a href = "/"><div class="nev_block nimg1">
    </div></a>
    <a href = "/festival/lineup"> <div class="nev_block nimg2">
    </div></a>
    <a href = "/festival/booth"><div class="nev_block nimg3">
    </div></a>
    <a href = "/festival/schedule"><div class="nev_block nimg4">
    </div></a>
    <a href = "/festival/event"><div class="nev_block nimg5">
    </div></a>
  </div>
