/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*================================ lineup===================================================================*/


/*================lineup_header=============================*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.lineup_header{
    display : flex;
    align-items: center;
    margin : 20px;
}

.lineup_uos{
    width: 100%;
    font-size : 90px;
    padding-left : 20px;
}

.lineup_uos_font{
    font-family: 'Nanum Brush Script';

}

/*======================lineup_main========================*/

.lineup_logo_img{
    width:20%;
    height: auto;
}
main{
    /*height: -webkit-fill-available;*/
}

.lineup_back{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(30, 30, 30, 0.8)),
        url('/back_to_the_future.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.lineup_main{
    height: 100%;
    margin : 30px;
    padding : 20px;
    padding-top: 30px;
}

.day{
    font-size: 20pt;
    border : 1px solid yellow;
    width : 120px;
    padding-left : 10px;
    padding-right : 10px;
    text-align: center;
}

.singer{
    font-size : 25pt;
    /*margin : 10px;*/
}

.lineup_time{
    font-size : 20pt;
    margin-left : 20px;
}

.lineup_place{
    font-size : 25pt;
}

.lineup_singer{
    margin-left: 20px;
}

.lineup_time, .singer, .lineup_uos, .lineup_line, .lineup_place, .lineup_back{
    color: yellow;
    font-family: 'Sunflower', sans-serif;
}

.lineup_uos, .day{
    color: yellow;
}

.lineup_wrap{
    background-color : black;
    
}

/*================================ lineup===================================================================*/

