<!DOCTYPE html>
<html>
<head>
    <style>
      body {
        height : 1000px;
      }
      .nevi{
        display : flex;
        position: fixed;
        height:200px;
        background-color : white;
        bottom: 5%;
        width: 96%;
        justify-content: space-around;
        text-align: center;
      }
      .nev_block {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .nimg1{
        background-image: url("/gp1.jpg");
        opacity: 0.6;
      }
      .nimg2{
        background-image: url('/img1.png');
        opacity: 0.6;
      }
      .nimg3{
        background-image: url('/img2.png');
        opacity: 0.6;
      }
      .nimg4{
        background-image: url('/img3.png');
        opacity: 0.6;
      }
      .nimg5{
        background-image: url('/img4.png');
        opacity: 0.6;
      }
  </style>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("body").fadeIn(1000);
      $(".nimg1, .nimg2, .nimg3, .nimg4, .nimg5").mouseover(function(){
        $(this).css("font-weight", "bolder");
        // $(this).css("opacity", "1.0");
        $(this).animate({
        opacity: '1.0',
        height: '180px',
        width: '180px'
        });
      });
      // $(".nimg1, .nimg2, .nimg3, .nimg4").mouseout(function(){
      //   $(this).css("font-weight", "lighter");
      //   $(this).animate({
      //   opacity: '0.8',
      //   height: '100px',
      //   width: '100px'
      //   });
      // });
    })
  </script>
</script>

<body>

<%= yield %>



<!-- 네비 bar -->
  <div class="nevi">
    <div class="nev_block nimg1">
    </div>
    <div class="nev_block nimg2">
    </div>
    <div class="nev_block nimg3">
    </div>
    <div class="nev_block nimg4">
    </div>
    <div class="nev_block nimg5">
      5
    </div>
  </div>

</body>
</html>
