<!DOCTYPE html>
<html>
<head>
    <title>2018_UOS_FESTIVAL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <!--<script src="jquery-3.3.1.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="static/js/libs/bootstrap/bootstrap.min.js"></script>-->


    <style>
    @font-face { font-family: 'drfont_daraehand'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/drfont_daraehand.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'Swagger'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Swagger.woff') format('woff'); font-weight: normal; font-style: normal; }
    @import url('https://fonts.googleapis.com/css?family=Chicle');
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Sunflower:300');
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
    @import url('https://fonts.googleapis.com/css?family=Hi+Melody|Nanum+Pen+Script');
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

  
    
      /**{*/
      /*  background-color: black;*/
      /*}*/

      html{
        height: -webkit-fill-available;
        background-color: black;
      }
      
      body{
        background-color: black;
        height: 100%;
      }
      
      .nevi{
        display : flex;
        position: fixed;
        height: 200px;
        bottom: 0.1%;
        width: 96%;
        justify-content: space-around;
        text-align: center;
        z-index:10;
      }
      .nev_block {
        width: 120px;
        height: 120px;
        border-radius: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid white;
        
      }

      .nimg1{
        background-image: url("/goto_home_logo.png");
        opacity: 0.9;
      }
      .nimg2{
        background-image: url('/img1.png');
        opacity: 0.9;
      }
      .nimg3{
        background-image: url('/img2.png');
        opacity: 0.9;
      }
      .nimg4{
        background-image: url('/img3.png');
        opacity: 0.9;
      }
      .nimg5{
        background-image: url('/img4.png');
        opacity: 0.9;
      }
      
      /* 푸드트럭 추가 */
      .nimg6{
        background-image: url('/img5.png');
        opacity: 0.9;
      }
      
      /*스케줄 페이지*/
      .sche_main{
        color: yellow;
        line-height: 2.5;
        font-family: 'Do Hyeon', sans-serif;
      }
      
      .sche_day{
        
      }
      
      .sche_day_title{
        display: black;
        margin: 0 auto;
        width: 150px;
        height: 45px;
        font-weight: 400;
        font-size: 35px;
        line-height:1;
        color: black;
        text-align: center;
        background-color: yellow;
        border-radius: 25pt;
        justify-content : space-around;
      }
      .sche_box{
        margin-top:10px;
        display:flex;
        justify-content: space-around;
      }
      .sche_ball{
        display : inline-block;
      }
      .sche_content_box{
        display: flex;
        width:  250px;
        height: 250px;
        flex-direction: column;
        align-items : center;
        background-repeat : no-repeat; 
        background-size : cover;
        justify-content : space-around;
        border-radius : 100%;
        border: 5px solid white;
      }
      .sche_content_box4{
        display: flex;
        width:  200px;
        height: 200px;
        flex-direction: column;
        align-items : center;
        justify-content : space-around;
        border-radius : 100%;
        background-repeat : no-repeat; 
        background-size : contain;
        border: 5px solid white;
      }
      .sche_time{
        margin-top: 20pt;
        font-size: 25pt;
      }
      
      .sche_time4{
        margin-top: 15pt;
        font-size: 22pt;
      }
      
      .sche_content{
        font-size: 22pt;
        margin-bottom: 20pt;
        line-height: 1.2;
        color : white;
        text-align: center;
      }
      
  </style>



  <script>
    
    </script>

</head>

<body>
<!-- 네비 bar -->
<div style='text-align:center; margin-top:3px; padding:0px;'><span class='every_header'>해당 페이지는 서울시립대학교 멋쟁이사자처럼에 의해 제작되었으며<br>
서울시립대학교 총학생회와는 전혀 무관합니다.</span></div>

<%= yield %>




</body>
</html>
