<!DOCTYPE html>
<html>
<head>
    <title>2018_UOS_FESTIVAL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <script src="jquery-3.3.1.min.js"></script>

    <style>
    
    
        @import url('https://fonts.googleapis.com/css?family=Chicle');
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Sunflower:300');
      /**{*/
      /*  background-color: black;*/
      /*}*/


      html{
        height: -webkit-fill-available;
        background-color: black;
      }


      body{
        background-color: black;
        height: 100%;
      }
      
      .nevi{
        display : flex;
        position: fixed;
        height: 200px;
        bottom: 0.1%;
        width: 96%;
        justify-content: space-around;
        text-align: center;
      }
      .nev_block {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid white;
      }

      .nimg1{
        background-image: url("/goto_home_logo.png");
        opacity: 0.9;
      }
      .nimg2{
        background-image: url('/img1.png');
        opacity: 0.9;
      }
      .nimg3{
        background-image: url('/img2.png');
        opacity: 0.9;
      }
      .nimg4{
        background-image: url('/img3.png');
        opacity: 0.9;
      }
      .nimg5{
        background-image: url('/img4.png');
        opacity: 0.9;
      }
      
      
      /*스케줄 페이지*/
      .sche_main{
        color: yellow;
        line-height: 2.5;
        font-family: 'Do Hyeon', sans-serif;
      }
      
      .sche_day{
        
      }
      
      .sche_day_title{
        display: black;
        margin: 0 auto;
        width: 150px;
        height: 45px;
        font-weight: 400;
        font-size: 35px;
        line-height:1;
        color: black;
        text-align: center;
        background-color: yellow;
        border-radius: 25pt;
        justify-content : space-around;
      }
      .sche_box{
        margin-top:10px;
        display:flex;
        justify-content: space-around;
      }
      .sche_ball{
        display : inline-block;
      }
      .sche_content_box{
        display: flex;
        width:  250px;
        height: 250px;
        flex-direction: column;
        align-items : center;
        justify-content : space-around;
        border-radius : 100%;
        border: 5px solid white;
      }
      .sche_content_box4{
        display: flex;
        width:  220px;
        height: 220px;
        flex-direction: column;
        align-items : center;
        justify-content : space-around;
        border-radius : 100%;
        border: 5px solid white;
      }
      .sche_time{
        margin-top: 20pt;
        font-size: 25pt;
      }
      
      .sche_content{
        font-size: 20pt;
        margin-bottom: 20pt;
        line-height: 1.2;
        color : white;
        text-align: center;
      }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114743443-2"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114743443-2');
  </script>
</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".nimg1, .nimg2, .nimg3, .nimg4, .nimg5").click(function(){
        $(this).animate({
          opacity: '1.0',
          height: '180px',
          width: '180px'
        });
      });
     
    })
  
     $(document).ready(function(){
        $(".food_food1").click(function(){
            
            $(".food_food1").animate({
                'right':'100%'
            });
        });
        $(".food_fva1").click(function(){
            
            $(".food_food1").animate({
                'right':'1%'
            });
        });
        $(".food_food2").click(function(){
            
            $(".food_food2").animate({
                'right':'100%'
            });
        });
        $(".food_fva2").click(function(){
            
            $(".food_food2").animate({
                'right':'1%'
            });
        });
        $(".food_food3").click(function(){
            
            $(".food_food3").animate({
                'right':'100%'
            });
        });
        $(".food_fva3").click(function(){
            
            $(".food_food3").animate({
                'right':'1%'
            });
        });
        $(".food_food4").click(function(){
            
            $(".food_food4").animate({
                'right':'100%'
            });
        });
        $(".food_fva4").click(function(){
            
            $(".food_food4").animate({
                'right':'1%'
            });
        });
        $(".food_food5").click(function(){
            
            $(".food_food5").animate({
                'right':'100%'
            });
        });
        $(".food_fva5").click(function(){
            
            $(".food_food5").animate({
                'right':'1%'
            });
        });
        $(".food_food6").click(function(){
            
            $(".food_food6").animate({
                'right':'100%'
            });
        });
        $(".food_fva6").click(function(){
            
            $(".food_food6").animate({
                'right':'1%'
            });
        });
        $(".food_food7").click(function(){
            
            $(".food_food7").animate({
                'right':'100%'
            });
        });
        $(".food_fva7").click(function(){
            
            $(".food_food7").animate({
                'right':'1%'
            });
        });
        $(".food_food8").click(function(){
            
            $(".food_food8").animate({
                'right':'100%'
            });
        });
        $(".food_fva8").click(function(){
            
            $(".food_food8").animate({
                'right':'1%'
            });
        });

     });
</script>
</script>

<body>
<!-- 네비 bar -->
<div style='text-align:center; margin-top:3px; padding:0px;'><span class='every_header'>해당 페이지는 서울시립대학교 멋쟁이사자처럼에 의해 제작되었으며<br>
                           서울시립대학교 총학생회와는 전혀 무관합니다.</span></div>

<%= yield %>




</body>
</html>
